* {
  box-sizing: border-box;
  margin: auto;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.header {
  background: darkgreen;
  min-height: 3.125rem;
}

.flex {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

.calendar {
  margin-top: 5rem;
  background: chartreuse;
  text-align: center;
  padding-top: 1.25rem;
}

.weekDays {
  padding-top: 1.25rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendarDays {
  border: 2px solid black;
}
.days {
  width: 3.125rem;
  height: 3.125rem;
}

.add-event {
  margin-bottom: 1.25rem;
  background-color: darkgreen;
  border: 2px solid yellow;
  height: 30px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
